<!DOCTYPE html>
<html>
<head>
    <title> SPACE ACADEMY </title>
</head>
<body>
    <div class = "container">
        <div class = "row">
            <div class = "col-lg-4">
                <h1 class = "title">ПРИВЕТ, ЗВЕЗДНЫЙ СТРАННИК! ВЫБЕРИ СВОЙ ПУТЬ!</h1>
                <div>
                    <div>
                            <table border="1" width="100%" cellpadding="5">
                                <form action="/register/">
                                    <h4><th> <button type=submit> Для Кандидатов </button></th></h4>
                                </form>
                                <form action="/jedies/">
                                   <h4><th> <button type=submit> Для Джедаев </button></th></h4>
                                </form>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>